.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  
  transition: width 0.3s ease-in-out;
  
  position: relative;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  bottom: 20px;
  
  width: 100%;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 20px;
}